ul {
  li {
    display: inline-block;

    figure {
      height: 90px;
      margin: 10px 5px 30px 0;
      width: 300px;
      font-size: 0;
      @include clearfix;

      img {
        margin: 5px;
        float: left;
      }
      figcaption {
        p {
          font: 12px "Lato Regular", sans-serif;
          line-height: 19px;
        }
        ul {
          li {
            display: inline-block;
          }
        }
      }
    }
  }
}
